<h4> Please enter your mail </h4>
<form action="/feedback" method="POST">
	<form action="/feedback" target="_blank">

	<input type="text" name="mails" value="<%=@mails%>" /> <br/>


	<p> Message </p>
  <p><textarea name="message" placeholder="Please write something" value="<%=@message%>"></textarea></p>


	<button type="submit" class="btn btn-primary">ENTER</button>

</form>
</form>
